body {
}

#header{
    width:1000px;
    height:250px;
    background-color: #176fae;
}
#menu{
    width:1000px;
    height:50px;
    background-color:#d57f42;
}
#content
{
    width:1000px;
    height:500px;
    background-color:#d5d5d5;
}
#footer {
    width:1000px;
    height:100px;
    background-color:#0d4770;
}